.news-item {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 16px 8px;
  padding: 16px;
}

.news-item .ant-list-item-meta-title {
  margin: 0;
}

.news-item img {
  width: 100%;
}

.news-item .title {
  margin: 16px 0;
}

.news-item .footer {
  height: 48px;
}
